.header {
	height: 150px;
	background-image: url('./sand-bcg.jpg');
	background-position: bottom center;
	background-size: cover;
}

.navbar {
	height: 55px;
	margin: 1px 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background-color: #7ad6bb;

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 48px;
		min-width: 48px;
		margin: 0 5px;
		color: white;

		&--selected {
			border: 2px solid white;
			border-radius: 50%;
		}
	}
}
