.header {
	height: 150px;
	background-image: url('./sand-bcg.jpg');
	background-position: bottom center;
	background-size: cover;
	position: relative;
}

.navbar {
	height: 55px;
	margin: 1px 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background-color: #7ad6bb;

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 48px;
		min-width: 48px;
		margin: 0 5px;
		color: white;

		&--selected {
			border: 2px solid white;
			border-radius: 50%;
		}
	}
}

.user-photo {
	height: 130px;
	width: 130px;
	position: absolute;
	top: 100%;
	transform: translate(50%, -50%);
	background-image: url('./user-photo.jpg');
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.5);
}
